.mainDev{
    background-color: rgb(72, 104, 136);
    padding-left: 10%;
    background-image: url("/src/assets/strawberries.jpg");
    background-size: cover;
    background-position: center;
}
.button1{
    background-color: darkorange;
}
.firstLine{
    margin : auto;
    display: flex;
    align-items : center;
    justify-content : space-between;
    padding-right: 10%;
    padding-top: 3%;
}