nav{
    position : fixed ;
    top : 0;
    height : 80px;
    width : 100vw;
    background-color: rgb(39, 48, 57);

}

.content {
    
    margin : auto;
    display: flex;
    align-items : center;
    justify-content : space-between;
}

.links {
    display: flex;
    align-items: center;
    gap:10px;
}

.link{
    text-decoration : none;
    color: #FFF;
    padding : 5px;
    cursor: pointer;
    padding: 5px 10;
}

.link:hover {
    color: rgb(152, 152, 204);
}

.profile-icon, .cart-icon{
    height : 40px;
    width : 40px;
    border :1px;
    background-color: rgb(41, 35, 35);
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.mainIconDiv{
    display: flex;
    align-items: center;
    gap:10px;
}

img{
    height : 40px;
    width : 40px;
    border :1px;
}

.image{
    height: 15px;
    width: 15px;
}