footer{
    position: absolute;
    width : 100vw;
    height : 100px;
    bottom:0;
    /*background-color: rgb(39, 48, 57);*/
    background-color: rgb(24, 28, 37);
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 3%;
}

.mainDivs{
    display: flex;
    justify-content: space-between;
}

.berry{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.divs_2{
    display: flex;
    justify-content: space-between;
}

.divs_2_1{
    align-items: center;
    text-align: center;
    
}


/*.mainDevs{
    padding-left: 10%;
}*/

/*.footer-cont{
    margin : auto;
}*/